
 </div>
<hr class="container footer-break">
<footer class="container footer">
    <p class="float-end"><a href="#"><i class="fas fa-2x fa-arrow-up"></i></a></p>
    <p><i class="far fa-1x fa-handshake"></i> Share your ideas with other people & make something new </p>
</footer>
<!-- Bootstrap JS -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" 
integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" 
crossorigin="anonymous"></script>
</body>
</html>