<%- include("partials/header"); %> 
<div class="container">
    <div class="P-story"> 
        <h2>Purporse:</h2>
        <p>To help people bad with money control their spending
            habit or <br> keep track of their spending for future review.
        </p>

        <h2>Author:</h2>
        <p>Damilare O. Am very bad with money so i created the project
        to help me keep track of my <br> 
        <ul>
            <li>Daily spending.</li>
            <li>Montly expenses.</li>
            <li>Yearly financial growth.</li>
        </ul></p>
    </div>
</div>
<%- include("partials/footer"); -%>