<%- include("partials/header"); %> 
<!-- Wecome Div -->
<div class="welcome-div">
    <div class="container">
        <h2>Welcome to my personal financal tracker</h2>
        <div class="purpose">
            <p>Keep an eye on your growth towards your financial goal. </p>
            <p>Keep track all your daily spendings or income.</p>  
        </div>
    </div>
</div>
<!-- Submit and read out account balance a transaction -->
<div class="container transactions">
    <!-- subnit a trasaction -->
    <div class="sub-trans">
        <form action="/" method="POST">
            <div class="row">
                <h2 class="submit-h2">Submit a transaction:</h2>
                <br>
                <div class="col-lg-6">
                    <label for="cal" class="form-label">Day&nbsp:</label>
                    <input name="day" type="date" id="cal" class="form-control">
                    <br>
                    <label for="amount-spent" class="form-label">Saving&nbsp:&nbsp€ </label>
                    <input type="number" id="amount-spent" name="money"
                    class="form-control" placeholder="Amout..." aria-label="Last name">
                </div>
              </div> 
              <br>
              <button type="submit" name="button" class="btn btn-lg btn-secondary">Submit transaction</button>
        </form>
    </div>
    
</div>

<%- include("partials/footer"); -%>