<%- include("partials/header"); %> 

<div class="container">
    <div>
        <h2>Git Repo&nbsp:</h2>
        <p><a target="blank" href="https://github.com/fodare/PF_Record"><i class="fab fa-3x fa-github"></i></a></p>

        <h2>Dependancies&nbsp: </h2>
        <p>
            <ul>
                <li>ExpressJS</li>
                <Li>NodeJS</Li>
                <li>Mongoose</li>
                <li>EJS</li>
                <li>Body-Parser</li>
            </ul>
        </p>

        <h2>Database Names:</h2>
        <p>
            <ul>
                <li>MoneyDB:
                    <br>
                    <br>
                    <ul><h5>Collection names:</h5>
                        <li>Savings: Collect and track all of the daily savings</li>
                        <li>Balance: Tracks the total amount saved</li>
                    </ul>
                </li>
            </ul>
        </p>





        <p class="support-message">Should you encounter any troubles with the code or working with the project, <br>
        you can always contact me via the channels below:</p>
        <div class="socials">
            <a target="blank" href="mailto:folorunsodamilare007@hotmail.com"><i class="fas fa-3x fa-envelope"></i></a>
            <a target="blank" href="https://discord.gg/VzvPGG8nCq"><i class="fab fa-3x fa-discord"></i></i></a>
        </div>
    </div>
</div>

<%- include("partials/footer"); -%>