<%- include("partials/header"); %> 

<div class="container">
    <div>
        <h2>Git Repo&nbsp:</h2>
        <p><a target="blank" href="https://github.com/fodare/PF_Record"><i class="fab fa-3x fa-github"></i></a></p>

        <h2>Dependancies&nbsp: </h2>
        <p>
            <ul>
                <li>Express</li>
                <li>Mongoose</li>
                <li>EJS</li>
                <li>Body-Parser</li>
            </ul>
        </p>
        <p class="support-message">Should you encounter any troubles with the code or working with the project, <br>
        you can always contact me via the channels below:</p>
        <div class="socials">
            <a target="blank" href="mailto:folorunsodamilare007@hotmail.com"><i class="fas fa-3x fa-envelope"></i></a>
            <a target="blank" href="https://www.linkedin.com/in/damilare-olatunbosun-2a7812133"><i class="fab fa-3x fa-linkedin"></i></a>
        </div>
    </div>
</div>

<%- include("partials/footer"); -%>